#filterInput {
  width: 200px; /* Full-width */
  font-size: 15px; /* Increase font-size */
  padding: 8px;
  margin-left: 5px;
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#noResult {
	font-size: 16px;
	color: red;
	display: none;
	font-weight: bold;
}


#error {
	font-size: 16px;
	color: red;
	display: none;
	font-weight: bold;
}

body {
	text-align: center;
}

#inputSection {
	padding: 50px;
	background-color: #54c7c5;
	border-radius: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}



#nameInput, #mobileInput, #emailInput {
	width: 200px;
	display: inline-block;
}

p {
	display: inline-block;
}

#nameCol, #mobileCol, #emailCol {
	width:25%;
}

caption {
	font-weight: bold;
	margin-bottom: 4px;
}

#contactTable {
  width: 80%;
  border: 1px solid black;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

#contactTable th, #contactTable td {
  text-align: left;
  padding: 12px;
  border: 1px solid black;
}


/*make every odd row of the table gray*/
#contactTable tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}